@font-face {
    font-family: 'Bringin';
    src: url('../fonts/bringinregular/bringin-webfont.eot');
    src: url('../fonts/bringinregular/bringin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bringinregular/bringin-webfont.woff2') format('woff2'),
         url('../fonts/bringinregular/bringin-webfont.woff') format('woff'),
         url('../fonts/bringinregular/bringin-webfont.ttf') format('truetype'),
         url('../fonts/bringinregular/bringin-webfont.svg#bringinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}